<html>
<body>

<ul id="commits">
  <% @commits.each do |commit| %>
      <li class="commit">
        <div class="author"><%= commit[:author] %></div>
        <div class="date"><%= "#{distance_of_time_in_words_to_now commit[:date]} ago" %></div>
        <div class="message"><span><%= commit[:message] %></span></div>
        <div class="svn"><span class="label">svn:</span> <%= commit[:svn_rev] %></div>
      </li>
  <% end %>
</ul>

</body>

</html>

