<html>
<body>

<ul id="commits">
  <% @commits.each do |commit| %>
      <li class="commit">
        <div class="author"><%= commit[:author] %></div>
        <span class="date"><%= "#{distance_of_time_in_words_to_now commit[:date]} ago" %></span>
        <span class="message"><%= commit[:message] %></span>
        <div class="svn"><span class="label">svn:</span> <%= commit[:svn_rev] %></div>
      </li>
  <% end %>
</ul>

</body>

</html>

