$blue: #29ABE2;

body {
    font-size: 18px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
    margin: 0 0 0 0;
}

#commits {
    list-style: none;
    padding: 0 0 0 20px;
    margin: 0 0 0 0;
}

li.commit {
    padding: 1.4em 0 1.4em 1.4em;
    border-bottom: 1px solid #E6E6E6;
    clear: both;
}

li.commit .id {
    display: none;
}

li.commit .author {
    width: 102px;
    float: left;
    color: $blue;
    font-size: 1.6em;
    font-weight: bold;
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
}

li.commit .date {
    color: $blue;
    background: #F2F2F2;
    font-size: 0.76em;
    padding: 0.4em 1.4em;
    min-width: 10em;
    position: relative;
    float:right;
    height: 24px;
    line-height: 24px;
    /*Rounded corners*/
    border-radius: 24px 0px 0px 24px;
}

li.commit .svn {
    font-size: 0.7em;
    clear: left;
    margin: 0 0 0 0;
}

li.commit .message {
    color: #666666;
    margin: 0 13em;
    padding: 0.5em 0 0;
}

@mixin diff-symbol {
    float: left;
    display: block;
    width: 10px;
    height: 9px;
    margin: 0 1px 1px 0;
    border-radius: 40%;
}

li.commit .addition {
    @include diff-symbol;
    background-color: #56c144;
}

li.commit .deletion {
    @include diff-symbol;
    background-color: #cd2122;
}
